$g1-width: 50%;
$g2-width: 50%;
$g3-width: 50%;
$g4-width: 50%;

.container {
  width: 100%;
  background-color: gray;
}

.g1 {
  width: $g1-width; // Width is fixed for now, it would be changed by data once data is stored in database 
  background-color: red;  
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.g2 {
  width: $g2-width; // Width is fixed for now, it would be changed by data once data is stored in database 
  background-color: green;  
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.g3 {
  width: $g3-width; // Width is fixed for now, it would be changed by data once data is stored in database 
  background-color: blue;  
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.g4 {
  width: $g4-width; // Width is fixed for now, it would be changed by data once data is stored in database 
  background-color: yellow;  
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
