@import "variables&functions";

.main{
    height: 100vh;
    .jobs_container{
       
        @include flexCustom(center, center, row);
        width: 100%;
        text-align: center;
        
            

        .listofjobs{
            width: 65%;
            height: 40em;
            margin-right: 30em;
            @include flexCustom(flex-start, center, column);
            :nth-child(2){
                border-radius: 1em 1em 0 0;
            }
             :last-child{
                border-radius: 0 0 1em 1em;
            }
        }
       
        nav{
            position: fixed;
            right: 2em;
            background-color: white;
            width: 25vw;
            height: fit-content;
        }
       
    }
}