@import "variables&functions";

.job{
    width: 100%;
    background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2em );
        -webkit-backdrop-filter: blur( 2em );
    border-bottom: 2px solid white;
  
    font-weight: 600;
    h2{
        padding: 0.6em 0;
        margin: auto;
    cursor: pointer;
    width: fit-content;
    }
}