@import "variables&functions";

.main{
    font-size: 0.9vw;

    .loading{
        animation: loading 2s infinite;
    }

    @keyframes loading {
        0%{

        }

        100%{
            transform: rotate(360deg);
        }
    }

.chatbox{
   background-color: rgb(51,51,51);
   height: 80vh;
   margin: 0 10em;
   padding: 2em 6em;
   padding-top: 0em;
   margin-top: 1em;
   overflow-y: scroll;

    h3, h5, p{
        padding: 0;
        margin: 0;
        margin-top: 0.7em;
    }
   
  

   .stats_Container{
    height: fit-content;
    margin: 2em auto;
    margin-top: 1em; 
    width: 40em;
    

    @include flexCustom(space-between, center, row);
    .stats{
        @include flexCenter(column);
        h3{
            margin-bottom: 1em;
            font-size: 0.9em;
        }
        height: 7em;
        width: 7em;
       }
   }


   .message{
    border-radius: 1em;
    padding: 0.8em;
    margin-bottom: 1.7em;
    text-align: center;
    color: white;
   }
   h3, h5, p{
    text-align: center;
    width: 100%;
    color: white;
}
:nth-child(5){
    background-color: rgb(4,205,69);
    transform: translateX(4.5em);
}

:nth-child(6){
    background-color: rgb(40,155,253);
    transform: translateX(-4.5em);
}

}

.chatboxInput{
    height: 15vh;
    @include flexCustom(flex-start, center, column);
    margin: 0 10em;
    
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7px );
        -webkit-backdrop-filter: blur( 7px );
        p{
            margin: 0.5em;
        }

   

    .form{
        
        width: 100%;
        input{
            width: 80%;
           
            border: none;
            background-color: $white;
            padding: 1em;
            font-size: 1em;
            height: 100%;
        }
        button{
            width: 20%;
            padding: 1em;
            height: 100%;
            margin: 0;
            border: 2px solid black;
         
        }
    }
    


    .fileinput{
        width: 40%;
        padding-bottom: 1em;
        button{
            width: 50%;
        }
    }
}
}