@import "variables&functions";

.main{
    font-size: 1vw;
    margin: auto;
    margin-top: 15vh;
    border-radius: 1em;
    width: 40em;
    padding: 4em;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.1em );
    -webkit-backdrop-filter: blur(  0.1em );

    .input{
  width: 20em;     
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;

  label{
    width: 30%;
    

  }
  input{
    width: 70%;
  @include input;
  }
    }

    button{
        @include button;
        width: 10em;
        height: 3em;
        margin: 1em;
    }
}