@import "variables&functions";

.main{
    font-size: 1em !important;
    padding: 1em;
    transition: 200ms all;
    margin: 0;
      
  
    &:hover{
        background: rgba( 255, 255, 255, 0.25 );
    }
}